<nav class="g880">
<div>
    
        <div>
            <img class="i844" src="https://i.imgur.com/v7xF2Xt.png">
            <p class="g833 g844">Compra <span class="l-yellow">100% segura</span></p>
        </div>
        <div>
            <img class="i845" src="https://i.imgur.com/IIjdsyw.png">
            <p class="g845"><span class="l-yellow">Frete grátis</span> acima de RS 200</p>
        </div>
        <div>
            <img class="i832" src="https://i.imgur.com/eHT7OXS.png">
            <p class="g832"><span class="l-yellow">Parcele</span> suas compras</p>
        </div>
</div>
<div clas="nav2-249">

</div>
</nav>
